body {
    background-color: var(--deep-void);
    font-family: var(--montserrat), sans-serif;
}

.container {
    max-width: 1400px;
    border-radius: 40px;
    margin: auto;
}

.container--purple {
    background-color: var(--royal-night);
}

p {
    margin: 0px;
    font-family: var(--montserrat);
}

a { cursor: pointer; }


*:focus { 
    outline: #c45fff solid 1px; 
    outline-offset: 5px;
    border-radius: 10px;
}

header:focus {
    outline: #c45fff solid 0px; 
    border-radius: 40px;
}

div:focus {
    outline: #c45fff solid 0px; 
    border-radius: 40px;
}

.card_container:focus {
    outline: #c45fff solid 0px; 
    border-radius: 40px;
}

.img-link:focus {
    border-radius: 50%;
    outline-offset: 10px;
}