body {
    background-color: var(--deep-void);
    font-family: var(--montserrat), sans-serif;
}

.container {
    max-width: 1400px;
    border-radius: 40px;
    margin: auto;
}

.container--purple {
    background-color: var(--royal-night);
}


*:focus {
    fill: var(--deep-void);
}

p {
    margin: 0px;
    font-family: var(--montserrat);
}

