:root {
	--lavender-mist: #e9deff;
	--lavender-second: #e0b0fc;
	--deep-void: #0b001a;
	--pure-light: #fff;
	--royal-night: #1e0044;
	--midnight-pulse: #170034;
	--urban-ash: #56514d;
	--montserrat: 'Montserrat';
	--georgia: 'Georgia';
}