.card_container {
    display: flex;
    gap: 24px;
    padding: 0px;
    margin: 40px 0px;
}

.card {
    width: 100%;
    border-radius: 20px;
    padding: 36px;
    background: linear-gradient(95deg, #8338ec 0%, #B923FF 100%);
    background-attachment: fixed;
    display: grid;
    row-gap: 97px;
}

.card__title {
    margin: 0px;
    color: white;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: -0.01em;
}

.card__text {
    display: grid;
    row-gap: 16px;
    align-content: space-between;
    font-size: 14px;
    line-height: 160%;
    color: var(--lavender-mist);
}

.card__bottom {
    display: flex;
    gap: 8px;
}

