.main__inner {
    display: grid;
    gap: 60px;
    padding: 40px 0px;
    min-height: 500px;
    color: var(--lavender-mist);
}

.main__content {
    max-width: 900px;
    font-weight: 500;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: -0.05em;
}

.beaut {
    padding: 0px 10px;
    font-family: var(--georgia);
    font-style: italic;
    background: linear-gradient(90deg, #8338ec 0%, #b923ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    margin: 0px;
    padding-top: 70px;
    font-weight: 500;
    font-size: 100px;
}

.main__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.04em;
    margin: 24px 0px;
}

.main__bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.main__small {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    margin: 0px;
}

