
.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px;
}

.footer_top {
    display: flex;
    justify-content: space-between;
}

.footer__links {
    display: inline-flex;
    gap: 24px;
    padding: 0px;
}

.footer__link {
    font-weight: 500;
    font-size: 14px;
}

.footer__link--hover {
    color: var(--lavender-mist);
    transition: color .2s;

    &:hover {
        color: var(--lavender-second);
        transition: color .2s;
    }
}