
.footer__inner {
    align-items: center;
    padding: 40px 40px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
}

.footer__links {
    display: inline-flex;
    gap: 24px;
    padding: 0px;
}

.footer__link {
    font-weight: 500;
    font-size: 14px;
}

.footer__link--hover {
    color: var(--lavender-mist);
    transition: color .2s;

    &:hover {
        color: var(--lavender-second);
        transition: color .2s;
    }
}

.footer__content {
    max-width: 1000px;
    display: grid;
    row-gap: 40px;
    justify-self: center;
    margin-top: 130px;
    margin-bottom: 60px;
}

.footer__img {
    display: flex;
    justify-self: center;
    width: 134px;
    height: auto;
}

.footer__title {
    margin: 0px;
    text-align: center;
    font-size: 100px;
    font-weight: 500;
    color: var(--lavender-mist);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

.footer__mini-text {
    color: var(--lavender-mist);
    font-size: 14px;
    line-height: 160%;
}

.img-link {
    width: 134px;
    justify-self: center;
}