.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.header{
    padding: 0px 40px;
}

.header__links {
    display: inline-flex;
    gap: 24px;
    padding: 0px;
}

.svg_color {
    fill: var(--lavender-second);
}

.header__link {
    font-weight: 500;
    font-size: 14px;
}

.header__link--hover {
    color: var(--lavender-mist);
    transition: color .2s;

    &:hover {
        color: var(--lavender-second);
        transition: color .2s;
    }
}

.header__btn {
    font-weight: 500;
    font-size: 14px;
    color: var(--lavender-mist);
}

